<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="AeropuertoEntities"
      connectionString="metadata=res://*/Aeropuerto.csdl|res://*/Aeropuerto.ssdl|res://*/Aeropuerto.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VC7LLHS;initial catalog=Aeropuerto;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    
    <add name="CFEntities" connectionString="Data Source=DESKTOP-VC7LLHS;Initial Catalog=SchoolCF;Integrated Security=SSPI;"
      providerName="System.Data.sqlClient"/>

    <add name="AECFEntities" connectionString="Data Source=DESKTOP-VC7LLHS;Initial Catalog=AeropuertoCF;Integrated Security=SSPI;"
      providerName="System.Data.sqlClient"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PrimerServicioSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="PrimerServicioSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44303/PrimerServicio.asmx"
                binding="basicHttpBinding" bindingConfiguration="PrimerServicioSoap"
                contract="PrimerServicio.PrimerServicioSoap" name="PrimerServicioSoap" />
        </client>
    </system.serviceModel>
</configuration>